# Normaliser les fichiers texte
* text=auto

# Forcer LF pour les fichiers spécifiques
*.js text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf
*.md text eol=lf
*.yml text eol=lf
